@media screen and (max-width:767px) {

.button__header {
    display: none;
}

.button {
    &--mobile,
    &--white,
    &--red {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 12px;
        border-style: none;
        z-index: 4;
    }
    &--mobile {
        border-radius: 22px;
        width: 209px;
        height: 44px;
        align-items: center;
        margin: 0 auto;
        
    }
    &--mobile,
    &--white{
        background-color: #fff;
        border-color: #fff;
    }
    &--mobile:hover,
    &--mobile:focus,
    &--white:hover,
    &--white:focus{
        background: #ECEBEB;
        border-color: #ECEBEB;
        fill: #D41443;
    }

    &--red {
        background: #D41443;
        border-color: #D41443;

        &:hover,
        &:focus {
        background: #C7133E;
        border-color: #C7133E;
        }
    }
    &--white,
    &--red {
        border-radius: 20px;
        height: 24px;
                }
}
.button__title--header,
.button__title--white,
.button__title--red {
    font-family: 'DM Sans';
    line-height: 1.3125;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration: none;
    font-size: 8px;
}

.button__title--white {
    color: #FFFFFF;

}

.button__title--red {
    color: #D41443;

}

.button__title--header {
    font-weight: 700;
    color: #D41443;
    font-size: 16px;
}

}

@media screen and (min-width:768px) and (max-width:1199px) {

        .button {
            display: flex;
            justify-content: center;
            align-content: center;
            align-items: center;
            gap:30px;
            z-index: 4;

            &__header,
            &--mobile,
            &--white,
            &--red {
                text-decoration: none;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 12px;
                border-style: none;
                z-index: 4;
            }
    
            &--mobile {
                border-radius: 22px;
                width: 186px;
                height: 44px;
                align-items: center;
                margin: 0 auto;
            }
            &--mobile,
            &__header,
            &--white {
                background-color: #fff;
                border-color: #fff;
            }
            &--mobile:hover,
            &--mobile:focus,
            &--header:hover,
            &--header:focus,
            &--white:hover,
            &--white:focus {
                background: #ECEBEB;
                border-color: #ECEBEB;
                fill: #D41443;
            }
    
            &--red {
                background: #D41443;
                border-color: #D41443;
    
                &:hover,
                &:focus {
                    background: #C7133E;
                    border-color: #C7133E;
                }
            }
            &__header{
                width: 160px;
                height: 44px;
                border-radius: 22px;
            }
            &--white,
            &--red {
                border-radius: 20px;
                height: 24px;
            }

            &--circle {
                background-color: #FFB8CA;
                border-color: #FFB8CA;
                 border-style: none;
                width: 18px;
                height: 18px;
            }
        }
    
        .button__title--header,
        .button__title--white,
        .button__title--red {
            font-family: 'DM Sans';
            line-height: 1.3125;
            display: flex;
            align-items: center;
            text-align: center;
            text-decoration: none;
            font-size: 8px;
        }
    
        .button__title--white {
            color: #FFFFFF;
    
        }
    
        .button__title--red {
            color: #D41443;
    
        }
    
        .button__title--header {
            font-weight: 700;
            color: #D41443;
            font-size: 16px;
        }

}

@media screen and (min-width:1200px) {


.button {
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        gap: 30px;
        z-index: 4;

        &__header,
        &--mobile,
        &--white,
        &--red {
            text-decoration: none;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 12px;
            border-style: none;
            z-index: 4;
        }

        &__header,
        &--white,
        &--red {
            border-radius: 22px;
        }

    &__header,
    &--white{
    width: 159px;
    height: 44px;
        }

    &--red{
    width: 104px;
    height: 40px;

    }

        &__header,
        &--white {
            background-color: #fff;
            border-color: #fff;
        }
    
        &--header:hover,
        &--header:focus,
        &--white:hover,
        &--white:focus {
            background: #ECEBEB;
            border-color: #ECEBEB;
            fill: #D41443;
        }
    
        &--red {
            background: #D41443;
            border-color: #D41443;
    
            &:hover,
            &:focus {
                background: #C7133E;
                border-color: #C7133E;
            }
        }

&--circle{
    background-color: #FFB8CA;
    border-color: #FFB8CA;
    border-style: none;
    width: 26px;
    height: 26px;

}
}
.button__title--header{
    font-family: 'DM Sans';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.3125;
    color: #D41443;
}

.button__title--white,
.button__title--red{
    font-family: 'DM Sans';
    font-size: 14px;
    line-height: 1.286;
}
.button__title--white {
    color: #FFFFFF;

}

.button__title--red {
    color: #D41443;

}
}
