.icecream{
    left: 594px;
    top: 108px;
    width: 236px;
    height: 557px;
}

.girl{
    width: 293px;
        height: 232px;
        left: 878px;
        bottom: 0;
}

.milk{
    width: 188px;
        height: 191px;
        left: 77px;
        top: 429px;
}