.hero {
    &__menu {
        display: flex;
        max-height: 90px;
        justify-content: space-between;
        align-items: baseline;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        gap: 35px;
        align-items: center;
    }
}