$colors: (
    'text-main': #FFA5BA,
    'text-category': #D41443,
    'text-description': #FFFFFF,
    'background-first': #FFB8CA,
    'background-second': #F0D1A5,
    'background-third': #C2E297,
    'background-social': #FEA5BB
);

@function getColor($key) {
    @return map-get($colors, $key);
}


$family-main: 'Titan One', cursive;
$family-secondary: 'DM Sans', sans-serif;
$fonts: (
    'main-font':$family-main,
    'secondary-font':$family-secondary
);

@function getFont($key) {
    @return map-get($fonts, $key);
}