@charset "UTF-8";
/*
 * Główny plik dla stylów.
 * Wszystkie partials podłączamy tutaj.
 */
.section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section__header-main {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 18px;
  color: #FFA5BA;
}

.section__header-category {
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 34px;
  color: #D41443;
}

.product-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-card--first {
  color: #FFB8CA;
  border-radius: 50%;
}

.reviews {
  padding-top: 40px;
  padding-bottom: 43px;
  background-color: #fff;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .reviews {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-bottom: 65px;
  }
}

.reviews__card {
  overflow: hidden;
}
