// ===colors===

$colors: (
  'text-main': #ffa5ba,
  'text-category': #d41443,
  'text-description': #ffffff,
  'text-info': #907e82,
  'background-first': #ffb8ca,
  'background-second': #f0d1a5,
  'background-third': #c2e297,
  'background-social': #fea5bb,
  'mobileColor': #E17992,
  'background-modal':#E17992,
  'bgFocus':#C7133E,
  'bgHover':#ECEBEB,
  'reviews-first': #fafafa,
  'reviews-second': #e1e1e1,
  'reviews-third': #c7133e,
);

)


@function getColor($key) {
  @return map-get($colors, $key);
}

// ===/colors===

// ===fonts===

$family-main: 'Titan One', cursive;
$family-secondary: 'DM Sans', sans-serif;
$fonts: (
  'main-font': $family-main,
  'secondary-font': $family-secondary,
);

@function getFont($key) {
    @return map-get($fonts, $key);
}

// ===/fonts===

