<section class="customer-reviews reviews" id="reviews"></section>
    <div class="container container-reviews">
        <div class="reviews__card">
            <img class="reviews__photo" src="images/customer-review/customer-1.png" alt="customer" width="85" height="85"
                srcset="images/customer-review/customer-1.png 1x, images/customer-review/customer-1@2x.png 2x, images/customer-review/customer-1@3x.png 3x" />
            <div class="reviews__quote">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan
                    congue. Lorem ipsum primis in nibh vel risus. </p>
            </div>
            <div class="reviews__dot"></div>
                <p class="reviews__name">Emily, Los Angeles</p>
            </div>
        <div class="reviews__card">
            <img class="reviews__photo"  src="images/customer-review/customer-2.png" alt="customer" width="85" height="85"
                srcset="images/customer-review/customer-2.png 1x, images/customer-review/customer-2@2x.png 2x, images/customer-review/customer-2@3x.png 3x" />
            <div class="reviews__quote">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus. </p>
            </div>
            <div class="reviews__dot"></div>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>
        <div class="reviews__card">
            <img class="reviews__photo" src="images/customer-review/customer-3.png" alt="customer" width="85" height="85"
                srcset="images/customer-review/customer-3.png 1x, images/customer-review/customer-3@2x.png 2x, images/customer-review/customer-1@3x.png 3x" />
            <div class="reviews__quote">
                <p class="reviews__text">
                    Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc,
                    accumsan
                    congue. Lorem ipsum primis in nibh vel risus. </p>
            </div>
            <div class="reviews__dot"></div>
            <p class="reviews__name">Emily, Los Angeles</p>
        </div>