<!-- Gallery-->

<!-- <section class="gallery" id="gallery">
  <div class="container">
    <h2 hidden>Gallery</h2>
    <img
      class="gallery__picture"
      alt="photos"
      src="./images/gallery/gallery_mobile.jpg"
      srcset="
        ./images/gallery/gallery_mobile.jpg      320w,
        ./images/gallery/gallery@2x_mobile.jpg   640w,
        ./images/gallery/gallery_tablet.jpg      768w,
        ./images/gallery/gallery@2x_tablet.jpg  1536w,
        ./images/gallery/gallery_desktop.jpg    1280w,
        ./images/gallery/gallery@2x_desktop.jpg 2580w
      "
      sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px"
    />
  </div>
</section> -->

<!--End od Gallery
