
  <header>
    <div class="container__header">
      <div class="header">
        <div class="header__menu">
          <a href="/" class="logo">
            <img src="../images/hero/logo.png" />
          </a>

          <nav class="header__navigation">
            <ul class="header__list">
              <li>
                <a href="index.html" class="header__link">Home</a>
              </li>
              <li>
                <a href="../src/section5.html#footer" class="header__link">About us</a>
              </li>
              <li><a href="../src/section3.html#about" class="header__link">How It's made?</a></li>
              <li><a href="../src/products.html#products" class="header__link">Our products</a></li>
              <li><a href="../src/section5.html#contact" class="header__link">Contact</a></li>
            </ul>
          </nav>
          <div class="button">
            <div class="mobile-menu">
              <button class="mobile-menu__button" type="button" data-mobile-open>
                <svg class="mobile-menu__icon">
                  <use href="../images/hero/mobile-menu.svg#icon-mobile-menu"></use>

                </svg>
              </button>
            </div>
            <div class="button__header">
              <button type="button" class="button__header">
                <p class="button__title--header">Buy now</p>
                <svg class="header__btn-icon">
                  <use href="../images/hero/arrow.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
          </div>
        </div>

        <!--    HERO    -->

        <div class="hero">
          <div class="hero__header">
            <h1 class="hero__title">
              Ice cream made with <span  class="hero__title--main">passion</span>
            </h1>
            <div class="hero__links">
              <a class="hero__link" href="#">
                <button type="button" class="button__products">
                  <p class="button__title--products"> Products</p>
                </button>
              </a>
              <a class="hero__link" href="#">
                <button type="button" class="button__about">
                  <p class=' button__title--about'>How it's made?</p>
                </button>
              </a>
            </div>
          </div>
          <!-- <div class="hero__ice">
             <img src="./images/hero/ice.png" class="hero__img icecream" />  
          </div>

          <div class="hero__lokals">
            <div class="hero__lokal">
              <div class="hero__box">
                <p class="hero__nr">16</p>
              </div>
              <p class="hero__name">cafes</p>
            </div>
            <div class="hero__lokal">
              <div class="hero__box--next">
                <p class="hero__nr">23</p>
                <p class="hero__name">food trucks</p>
                <img src="../images/hero/girl.png" class="header-img header-img__right" />
              </div>
            </div>
          </div>
          
          
          <div class="hero__eco">
            <img src="../images/hero/milk.png" class="header-img header-img__left" />
            <p class="hero__eco--title">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur non et, nulla dicta
              delectus, iste
              quam
            </p>
            <button class="button--circle" type="button">
              <img src="../images/hero/arrow-white.png" class="circle" />
            </button>
          </div> -->

        </div>
      </div>

      <!--    MOBILE MENU    -->

      <div class="mobile is-hidden" data-mobile>
        <div class="mobile__modal">
          <button class="mobile__close" type="button" data-mobile-close>
            <svg class="close-btn-icon">
              <use href="../images/hero/close.svg#icon-close"></use>
            </svg>
          </button>
          <div class="mobile__menu">
            <div class="button__mobile">
              <button type="button" class="button__mobile">
                <p class="button__title--header">Buy now</p>
                <svg class="mobile__btn-icon">
                  <use href="../images/hero/arrow.svg#icon-arrow"></use>
                </svg>
              </button>
            </div>
            <div class="mobile__list">
              <ul class="mobile__links">
                <li class="mobile__item">
                  <a href="../index.html" class="mobile__link">Home</a>
                </li>
                <li class="mobile__item">
                  <a href="./section5.html#footer" class="mobile__link">About us</a>
                </li>
                <li class="mobile__item">
                  <a href="./section3.html#about" class="mobile__link">How it's made?</a>
                </li>
                <li class="mobile__item">
                  <a href="./products.html#products" class="mobile__link">Our products</a>
                </li>
                <li class="mobile__item">
                  <a href="./section5.html#contact" class="mobile__link">Contact</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    </div>
    
    <script src="../js/mobile-menu.js"></script>
  </header>


  
