
<div>
<button class="modal-navigation__button--open" data-menu-open>
    <svg class="modal-navigation__icon--open" width="12" height="12">
    <use href="./images/sprite-modal.svg#icon-burger"></use>
    </svg>
</button>
</div>

<div class="backdrop is-hidden" data-menu>
<div class="modal-navigation">
    <button class="modal-navigation__button--close" data-menu-close>
        <svg class="modal-navigation__icon--close" width="14" height="14">
        <use href="./images/sprite-modal.svg#icon-close"></use>
        </svg>
    </button>
        <button class="modal-navigation__button--buy">Buy now
            <svg class="modal-navigation__icon--buy" width="5.26" height="8"> 
                <use href="./images/sprite-modal.svg#icon-vector-1"></use>
            </svg>
        </button>
    <ul class="modal-navigation__list">
        <li class="modal-navigation__item">Home</li>
        <li class="modal-navigation__item">About us</li>
        <li class="modal-navigation__item">How it’s made?</li>
        <li class="modal-navigation__item">Our products</li>
        <li class="modal-navigation__item">Contact</li>
    </ul>
</div>
</div>
<script src="./src/modal/modal.js"></script>
