<!-- ===products=== -->

<section class="section">
  <div class="container" id="products">
    <span class="section__header-main direction-column">100% natural</span>
    <h2 class="section__header-category direction-column">products</h2>

    <ul class="grid container">
      <li class="grid__item product-card">
        <div class="product-card--first direction-column">
          <h3 class="product-card__name product-card__name--first">ice cream</h3>
          <span class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</span
          >
          <button class="product-card__btn button__box" type="button">
            <svg>
              <use href="../src/images/arrow-right.svg"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="grid__item product-card">
        <div class="product-card--second direction-column">
          <h3 class="product-card__name product-card__name--second">ice coffee</h3>
          <span class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</span
          >
          <button class="product-card__btn" type="button">
            <svg>
              <use href="../src/images/arrow-right.svg"></use>
            </svg>
          </button>
        </div>
      </li>

      <li class="grid__item product-card">
        <div class="product-card--third direction-column">
          <h3 class="product-card__name product-card__name--third">milkshakes</h3>
          <span class="product-card__description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</span
          >
          <button class="product-card__btn" type="button">
            <svg>
              <use href="../src/images/arrow-right.svg"></use>
            </svg>
          </button>
        </div>
      </li>
    </ul>
  </div>
</section>
<!-- ===end-products=== -->
