<!-- SEKCJA 5 -->
<section class="section">
  <div>
    <span class="section__header-main">HOMEMADE ICE CREAM MADE</span>
    <span class="section__header-category">WITH PASSION</span>
  </div>
  <ul class="social-list">
    <li class="social-list__item">
      <a href="#">
        <svg class="social-list__icon" width="32" height="32">
          <use href="./images/sprie-social-icon.svg#icon-git"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="social-list__icon" width="32" height="32">
          <use href="./images/sprie-social-icon.svg#icon-telegram"></use>
        </svg>
      </a>
    </li>
    <li>
      <a href="#">
        <svg class="social-list__icon" width="32" height="32">
          <use href="./images/sprie-social-icon.svg#icon-facebook"></use>
        </svg>
      </a>
    </li>
  </ul>
</section>
