
    <!-- SEKCJA 5 -->

    <section class="section container-pink">
      <div class="contact">
        <h2 class="contact-heading">Contact with us</h2>
        <ul class="contact-list">
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__city">Chicago</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact-list__item">
            <p class="contact-list__category--green">FOODTRUCK</p>
            <p class="contact-list__city">Los Angeles</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__city">New York</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <div class="button">
        <button class="button--location" type="button">Our Locations ></button>
        <button class="button--franchise" type="button">Franchise ></button>
      </div>
      <div class="footer-container">
        <div class="footer-heading">
          <span class="section__header-main">HOMEMADE ICE CREAM MADE</span>
          <span class="section__header-category">WITH PASSION</span>
        </div>
        <div class="social">
          <ul class="social-list">
            <li class="social-list__item">
              <a class="social-list__ellipse" href="#">
                <svg class="social-list__icon" width="19" height="19">
                  <use href="/src/images/sprie-social-icon.svg#icon-git"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__ellipse" href="#">
                <svg class="social-list__icon" width="19" height="19">
                  <use href="/src/images/sprie-social-icon.svg#icon-telegram"></use>
                </svg>
              </a>
            </li>
            <li class="social-list__item">
              <a class="social-list__ellipse" href="#">
                <svg class="social-list__icon" width="19" height="19">
                  <use href="/src/images/sprie-social-icon.svg#icon-facebook"></use>
                </svg>
              </a>
            </li>
          </ul>
          <div class="contact-mini">
            <p>
              Fell free to contact
              <a class="contact-mini__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
            </p>
          </div>
        </div>
      </div>
      <div class="copyright">
        <p class="copyright__text">&copy;2019 - IceCream. All Rights Reserverd.</p>
      </div>
    </section>
    <!-- SEKCJA 5 -->

