<!-- Gallery-->

<section class="container" id="gallery">
    <div class="gallery">
        <h2 hidden>Gallery</h2>
        <img class="gallery__picture" alt="photos" src="./images/gallery/gallery_mobile.jpg" srcset="./images/gallery/gallery_mobile.jpg 320w,
                ./images/gallery/gallery@2x_mobile.jpg 640w, 
                ./images/gallery/gallery_tablet.jpg 768w,
                ./images/gallery/gallery@2x_tablet.jpg 1536w,
                ./images/gallery/gallery_desktop.jpg 1280w,
                ./images/gallery/gallery@2x_desktop.jpg 2580w"
            sizes="(min-width: 1280px) 1280px, (min-width: 768px) 768px, (min-width: 480px) 320px" />
    </div>
</section>

<!--End od Gallery-->

<!--Customer Reviews-->

<section class="container" id="reviews"></section>
<div class="reviews">
    <h2 hidden>Customer Reviews</h2>
    <div class="reviews__card">
        <img class="reviews__photo" src="./images/customer-review/customer-1.png" alt="customer" width="85" height="85"
            srcset="./images/customer-review/customer-1.png 1x, 
                            ./images/customer-review/customer-1@2x.png 2x, 
                            ./images/customer-review/customer-1@3x.png 3x" />
        <div class="reviews__quote">
            <p class="reviews__text">
                Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam
                nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus. </p>
        </div>
        <div class="reviews__dot">
            <svg width="32" height="4">
                <use href="./images/customer-review/red-dot.svg"></use>
            </svg>
        </div>
        <p class="reviews__name">Emily, Los Angeles</p>
    </div>
    <ul class="reviews__list">
        <li>
            <svg class="reviews__icon" width="12.4" height="12">
                <use href="./images/customer-review/home.svg"></use>
            </svg>
        </li>
        <li>
            <svg class="reviews__icon" width="12" height="12">
                <use href="./images/customer-review/gray-dot.svg"></use>
            </svg>
        </li>
        <li>
            <svg class="reviews__icon" width="12" height="12">
                <use href="./images/customer-review/gray-dot.svg"></use>
            </svg>
        </li>
    </ul>
</div>
</section>

<!--End of Customer Reviews-->