<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/main.min.css" />
    <title>Document</title>
  </head>
  <body>
    <section class="about">
      <container class="container">
        <h2 class="about__small-tittle">tradition and love</h2>
        <h1 class="about__main-tittle">how it’s made?</h1>
        <div class="about__main-part">
        <img class="about__cow" alt="cow with milk" src="../images/cow.png" />
        <div class="about__description">
        <p class="about__text"><b>
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel
            justo cursus, faucibus lorem eget, egestas eros. Maecenas eleifend
            erat at justo fringilla.</b>
          </p>
          <p class="about__text">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio
            elementum. Mauris rhoncus orci in imperdiet placerat. Vestibulum
            euismod nisl suscipit ligula volutpat, a feugiat urna maximus. Cras
            massa nibh, tincidunt.
          </p>
          <p class="about__text">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button class="button" type="button">Read more</button>
        </div>
        </div>
        <ul class="advantages">
          <li class="advantages__list">
            <ul>
              <li class="advantages__item">721</li>
              <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
            </ul>
          </li>
          <li class="advantages__list">
            <ul>
              <li class="advantages__item">16KG</li>
              <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
            </ul>
          </li>
          <li class="advantages__list">
            <ul>
              <li class="advantages__item">84</li>
              <li class="advantages__item">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</li>
            </ul>
          </li>
        </ul>
      </container>
    </section>
  </body>
</html>
