<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nagłówek strony</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.0.0/modern-normalize.min.css"
      integrity="sha512-ISS7cAi1PEhQ8jnbJpJZMd29NlhNj4AWYyLOSp2CE/CsHxTCu+r+t0D2yoJudVrd0/8fTVPUVDzY5Tvli75u/g=="
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/src/sass/main.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;0,700;1,500;1,700&family=Titan+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <!-- SEKCJA 5 -->
  <body>
    <section class="section pink">
      <div class="contact">
        <h2 class="contact-heading">Contact with us</h2>
        <ul class="contact-list">
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__city">Chicago</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact-list__item">
            <p class="contact-list__category--green">FOODTRUCK</p>
            <p class="contact-list__city">Los Angeles</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
          <li class="contact-list__item">
            <p class="contact-list__category">CAFE</p>
            <p class="contact-list__city">New York</p>
            <span class="contact-list__description"
              >Fusce ut velit laoreet, tempus arcu molestie vulputate</span
            >
            <p class="contact-list__day">Monday - Friday</p>
            <p class="contact-list__hour">06:00 AM - 10:00 PM</p>
            <p class="contact-list__day">Saturday - Sunday</p>
            <p class="contact-list__hour">08:00 AM - 16:00 PM</p>
            <a class="contact-list__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a>
            <a class="contact-list__mail" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </div>
      <div class="button">
        <button class="button--location" type="button">Our Locations ></button>
        <button class="button--franchise" type="button">Franchise ></button>
      </div>
      <div class="footer-container">
        <div class="footer-heading">
          <span class="section__header-main">HOMEMADE ICE CREAM MADE</span>
          <span class="section__header-category">WITH PASSION</span>
        </div>
        <ul class="social-list">
          <li class="social-list__item">
            <a class="social-list__ellipse" href="#">
              <svg class="social-list__icon" width="32" height="32">
                <use href="/src/images/sprie-social-icon.svg#icon-git"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__ellipse" href="#">
              <svg class="social-list__icon" width="32" height="32">
                <use href="/src/images/sprie-social-icon.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
          <li class="social-list__item">
            <a class="social-list__ellipse" href="#">
              <svg class="social-list__icon" width="32" height="32">
                <use href="/src/images/sprie-social-icon.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
        </ul>
        <div class="contact-mini">
          <p>
            Fell free to contact
            <a class="contact-mini__link" href="tel:+61 (0) 383 766 284">+61 (0) 383 766 284</a>
          </p>
        </div>
      </div>
      <div class="copyright">
        <p class="copyright__text">&copy;2019 - IceCream. All Rights Reserverd.</p>
      </div>
    </section>
    <!-- SEKCJA 5 -->
  </body>
</html>
