    <section class="section">
      <span class="section__header-main">100% natural</span>

      <span class="section__header-category">products</span>

      <ul class="grid">
        <li class="grid__item">
          <div class="product-card--first">
            <span class="product-card__name">ice cream</span>
            <img class="product-card__image" src="./images/ice-cream1.jpg" />
            <span class="product-card__ellipse">...</span>
            <span class="product-card__description"
              >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
              incididunt ut labore et. dolore magna aliqua facilisis.</span
            >
            <a class="product-card__navigation"><img src="./images/arrow-right.svg" /></a>
          </div>
        </li>

        <li>
          <span>ice cream</span>
          <img src="./images/ice-cream2.jpg" />
          <span>...</span>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</span
          >
          <a><img src="./images/arrow-right.svg" /></a>
        </li>
        <li>
          <span>ice cream</span>
          <img src="./images/ice-cream3.jpg" />
          <span>...</span>
          <span
            >Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
            incididunt ut labore et. dolore magna aliqua facilisis.</span
          >
          <a><img src="./images/arrow-right.svg" /></a>
        </li>
      </ul>
    </section>