@import '../utils/_variables.scss';

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    background-image: linear-gradient(to bottom, getBgColor('text-category') 24%, ('text-description') 24%);

    &__picture {
        display: block;

    }
}