.product-card {
    width: 100%;
    height: 485px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &--first {
    background-color: getColor('background-first');
    border-radius: 25px;
    }

    &--second {
    background-color: getColor('background-second');
    border-radius: 25px;
    margin-top: 130px;
    }

    &--third {
    background-color: getColor('background-third');
    border-radius: 25px;
    margin-top: 130px;
    }

    .product-card__name {
    font-family: getFont('main-font');
    font-weight: 400;
    font-size: 20px;
    color: getColor('text-description'); 
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: -113px;
    margin-bottom: 30px;
    }

    &__name--first::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    margin-top: -113px;
    margin-bottom: 22px;
    background-image: url("../images/ice-cream.png");
    }

    &__name--second::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    margin-top: -113px;
    margin-bottom: 22px;
    background-image: url("../images/ice_coffee.png");
    }

    &__name--third::before {
    content: "";
    display: block;
    width: 249px;
    height: 252px;
    margin-top: -113px;
    margin-bottom: 22px;
    background-image: url("../images/milkshakes.png");
    }

    &__name::after {
    content: "\00B7 \00B7 \00B7";
    display: block;
    color: getColor('text-description');
    font-weight: 400;
    font-size: 20px;
    padding-top: 30px;
    }

    &__description {
    max-width: 200px;
    font-family: getFont('secondary-font');
    font-weight: 700;
    font-size: 14px;
    line-height: 1.52;
    letter-spacing: 0.04em;
    text-align: center;
    color: getColor('text-description'); 
    }

    &__navigation {
    padding-top: 30px;
    }
}

.direction-column {
    display: flex;
    flex-direction: column;
    align-items: center;
}


    @media screen and (min-width: 1200px) {
    
        //desktop
            .product-card {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-left: 117px;
                margin-right: 116px;
    
                &--first {
                    width: 100%;
                    height: 525px;
                    margin-right: 29px;
                }

                &--second,
                &--third {
                    width: 100%;
                    height: 525px;
                    margin-right: 29px;
                    margin-top: 0;
                }
            }
        }
    
    @media screen and (min-width: 768px) and (max-width: 1199px) {
    
            // tablet
            .product-card {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                margin-left: 34px;
                margin-right: 34px;
    
                &--first{
                    width: 100%;
                    height: 485px;
                    margin: 20px;
                }

                &--second,
                &--third {
                    width: 100%;
                    height: 485px;
                    margin: 20px;
                    margin-top: 0;
                }
            }
        }
    
        @media screen and (min-width: 320px) and (max-width: 767px) {
            // mobile
        }