p,
ul {
  margin: 0px;
}
.pink {
  background-color: #fff5f6;
}
.contact-heading {
  display: none;
}
.contact-list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0px 50px;
  width: 100%;

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    padding: 43px 20px;
    margin-bottom: 20px;
  }
  &__category {
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f0d1a5;
    color: #fff;
    width: 80px;
    height: 16px;
    border-radius: 4px;

    &--green {
      margin-bottom: 25px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #c2e297;
      color: #fff;
      border-radius: 4px;
      width: 130px;
    }
  }
  &__city {
    margin-bottom: 25px;
    color: #000000;
    font-weight: 500;
    font-size: 12px;
  }
  &__description {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 12px;
    color: #907e82;
    padding-bottom: 25px;
    border-bottom: 1px solid #e1e1e1;
  }
  &__day {
    font-weight: 500;
    font-size: 12px;
  }
  &__hour {
    margin-bottom: 25px;
    font-weight: 500;
    font-size: 12px;
    color: #ffa5ba;
  }
  &__tel {
    font-weight: 500;
    font-size: 12px;
    color: #907e82;
    border-top: 1px solid #e1e1e1;
    padding-top: 25px;
  }
  &__mail {
    font-weight: 500;
    font-size: 12px;
    color: #907e82;
  }
}
.button {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &--location {
    background-color: #d41342;
    color: getColor('text-description');
    border: none;
    height: 44px;
    border-radius: 22px;
    margin-bottom: 10px;
  }
  &--franchise {
    background-color: #fff;
    color: getColor('text-category');
    border: none;
    height: 44px;
    border-radius: 22px;
  }
}
.footer-container {
  width: 100%;
  padding: 0px 20px;
}
.footer-heading {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 43px;
  margin-top: 113px;
  width: 100%;
}
.social-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  &__elipse {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  &__icon {
    fill: getColor('background-social');
  }
  &__item:not(:last-child) {
    margin-right: 28px;
  }
}
.contact-mini {
  text-align: center;
  margin-top: 46px;
  margin-bottom: 43px;
  font-family: getFont('family-secondary');
  font-weight: 700;
  font-size: 12px;
  &__link {
    color: getColor('text-category');
  }
}
.copyright {
  width: 100%;
  text-align: center;
  padding-top: 22px;
  padding-bottom: 25px;
  border-top: 1px solid #e1e1e1;

  &__text {
    color: getColor('text-info');
    font-weight: 700;
    font-size: 14px;
  }
}
