@import '../utils/variables';


.header {
    overflow-x: hidden;

    &__menu {
        display: flex;
        max-height: 90px;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        padding-top: 37px;

    }
}

.logo {
    width: 199px;
    height: 50px;
}



@media screen and (max-width: 767px) {

.header {
    &__navigation {
        display: none;
    }
}

}

@media screen and (min-width:768px) and (max-width:1199px){

.header {
    &__navigation {
        display: none;
    }

    &__btn-icon {
        width: 4px;
        height: 8px;

    }
}
}




@media screen and (min-width:1200px) {

.header {
    &__menu {
        padding-right: 115px;
    }

    &__navigation {
        z-index: 2;
    }

    &__list {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        justify-content: space-between;
        gap: 35px;
        align-items: center;

    }

    &__link {
        text-decoration: none;
        font-family: getFont('secondary-font');
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.3125;
        display: flex;
        align-items: center;
        color: getColor('text-description');

    }

    &__link:hover,
    &__link:focus {
        color: getColor('text-category');
    }

    &__btn-icon {
        width: 4px;
        height: 8px;

    }
}

.logo {
    padding-left: 46px;
}

}